<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Be nice</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header> 
      <a href = '../login.handlebars'> Login</a>
      <button id = "logout" class = 'logout-btn'> Logout </button>
    </header>
    <main>
      {{{ body }}}
    </main>
  </div>
</body>

</html>