<section>

    <form class="new-post-form">
        <h2 class="title">Create New Post</h2>
        <div>
            <input class="input form-control" type="text" id="post-title" name="post-title" placeholder="Insert post title here" />
        </div>

        <div>
            <input class="textarea is-large form-control" id="post-content" name="post-content"
                placeholder="Insert post content here" />
        </div>

        <input id= "file-button" class="" type='file' />
        <br><img id="myImg" src="#">

        <button type="submit" class="user-button is-primary is-pulled-right">Let the post out!</button>
    </form>
</section>

<script src="/javascript/add-post.js"></script>