
<<<<<<< HEAD
{{!-- homepage @localhost --}}
=======

>>>>>>> 403b88f20fc48dc3262764a451845536135e218d

  <div class="row">
          <div class="col main-col dog"> <img src="/images/image-dog1.png" width="200px" alt="Doggy"> </div>
        
      </div>
      





<ul class="list-group list-group-flush">
  {{#each posts as |post|}}
  <li class="list-group-item">
    {{> post-info post }}
  </li>
  {{/each}}
</ul>

<div class="new-comment">
  <div class="new-comment-user">[logged in user]<div>
  <textarea class="new-comment-textarea"></textarea>
</div>

  <button type="button" class="btn user-button">Comment</button>

<<<<<<< HEAD
 <a href="/singlepost" ><button type="button" class="btn user-button">New Post</button> </a> 
=======
  <button type="button" class="btn user-button">New Post</button>
>>>>>>> 403b88f20fc48dc3262764a451845536135e218d







