











<ol class="post-list">


  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ol>

  <button class="button-secondary pure-button">Comment</button>

    <button class="button-secondary pure-button">Post</button>







