
  <div class="row">
          <div class="col main-col dog"> <img src="/images/image-dog1.png" width="200px" alt="Doggy"> </div>
        
      </div>
      



  <div class="row">

<div class="mb-3 ">
 
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="User Name">
</div>

</div>


  <div class="row">

<div class="mb-3">
 
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Password">
</div>

</div>


  <div class="row">

<div class="mb-3">
  <form class = "login-form">
 
  <button type="button" class="btn user-button">Submit</button>
  <button type = "reset" id = "btnClear" class = "btn reset-button"> Clear </button>
</form>
</div>

</div>







<script src="/javascript/login.js"></script>