
<form class="pure-form pure-form-aligned">
    <fieldset>
        <div class="pure-control-group">
           
            <input type="text" id="aligned-name" placeholder="Username" />
        
        </div>
        <div class="pure-control-group">
     
            <input type="password" id="aligned-password" placeholder="Password" />
        </div>
        <div class="pure-control-group">
       
            <input type="email" id="aligned-email" placeholder="Email Address" />
        </div>
   
    <button class="button-secondary pure-button">Submit</button>


       
    
    </fieldset>
</form>
<script src="/javascript/login.js"></script>