<form class="login-form">
  <div class="row">
    <div class="col main-col dog"> <img src="/images/image-dog1.png" width="200px" alt="Doggy"> </div>

  </div>


  <div class="row">
    <div class="mb-3 ">
      <input type="text" class="form-control" id="username-login" placeholder="User Name">
    </div>

  </div>


  <div class="row">

    <div class="mb-3">

      <input type="password" class="form-control" id="password-login" placeholder="Password">
    </div>

  </div>


  <div class="row">

    <div class="mb-3">
      <button type="submit" class="btn user-button">Submit</button>
      <button href="/" type="button" class="btn reset-button"> Clear </button>

    </div>

  </div>


</form>



<script src="/javascript/login.js"></script>