  <h2>Join Barkbook</h2>

<form class="pure-form pure-form-aligned">
    <fieldset>
        <div class="pure-control-group">

         <div class="pure-control-group">
     
            <input type="password" id="aligned-password" placeholder="Your Email" />
        </div>
       
           
            <input type="text" id="aligned-name" placeholder="Create Username" />
        
        </div>
        <div class="pure-control-group">
     
            <input type="password" id="aligned-password" placeholder="Create Password" />
        </div>
       

         <div class="pure-control-group">
     
            <input type="password" id="aligned-password" placeholder="Confirm Password" />
        </div>
       
   
    <button class="button-secondary pure-button">Submit</button>


       
    
    </fieldset>
</form>
