<form class="signup-form">
  <div class="row">
    <div class="col main-col dog"> <img src="/images/image-dog2.png" width="200px" alt="Doggy"> </div>
  </div>


  <div class="row">
    <div class="mb-3">
      <input type="email" class="form-control" id="email-signup" placeholder="Your Email">
    </div>

  </div>


  <div class="row">
    <div class="mb-3">
      <input type="string" class="form-control" id="username-signup" placeholder="Create a User Name">
    </div>

  </div>

  <div class="row">
    <div class="mb-3">
      <input type="password" class="form-control" id="password-signup" placeholder="Create a Password">
    </div>

  </div>


  <!--div class="row">
  <div class="mb-3">
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Confirm Password">
  </div>
</div-->


  <div class="row">
    <div class="mb-3">
      <button type="submit" class="btn user-button">Submit</button>
      <a href="/"> <button type="submit" class="btn clear-button"> Cancel </button></a>
    </div>
  </div>
</form>

<script src="/javascript/signup.js"></script>