    <div class="row">
          <div class="col main-col dog"> <img src="/images/image-dog2.png" width="200px" alt="Doggy"> </div>
        
      </div>
      


  <div class="row">


<div class="input-group mb-3">
  <input type="file" class="form-control" id="inputGroupFile02">


</div>

 <div class="row">

<div class="mb-3">
  <label for="posttitle" class="form-label">Post Comment</label>
  <textarea class="form-control" id="posttitle" rows="3"></textarea>
</div>

 </div>

</div>




  <div class="row">

<div class="mb-3">
 
  <button id="submitBtn" type="button" class="btn user-button">Post</button>

</div>

</div>







<script src="/javascript/add-post.js"></script>