/* RESET? css framework? */
* {
  box-sizing: border-box;   
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #333;
  font-size: 18px;
  background-color: #1695B1;
  
}

.main-col {
  background-color: #fff;
  
  
}


.logo-large{
  text-align: center;
}

.avatar {
  width: 50px !important;
  height: 50px !important;
  border-radius: 35px;
  margin-right: 20px;
}



header{
  height:64px;
  background-color: #05586A;
}
/*navigation */
.bark-title {
  color: #fff;
}

.user-button {
  background-color:#FD74AA;
  color: #fff;
  margin:10px;
}

.user-button::hover {
  color: #fff !important;
}

/*end navigation*/


/*post */
.post {
  border-bottom: 1px solid #ddd;
}

.post img {
  width: 100%;
}

.post .meta {
  margin-left: 20px;
  color: #FD74AA;
}

.post .info {
  font-size: 1rem;
}
/*end post*/

/* comments */
.comment-wrapper {
  margin-left: 20px;
}

.comments {
  color: #00CC18;
}

.comments img {
  width: 100%;
}

.comment-username {
  font-size: .75rem;
}

.comment-comment {
  font-size: 1rem;
}

/* end comments */

/* homepage */
.new-comment {
  margin-left: 20px;
}

.new-comment-user {
  font-size: .75rem;
}

.new-comment-textarea {
  width: 100%;
  border: 2px solid #333;
}

/*end homepage */



.logo{
    padding-top: 20px;
    margin:20px;
    text-align: center;

}

.dog{
  padding-top: 20px;
  margin:20px;
  text-align: center;
}

/* text inputs */
.form-control{
  flex-wrap: wrap;
  
}




header h1 {
  font-size: 1em;
  color:white;
}

img{
  text-align: center;
 
}


/* this is the post */

.post-list {
 
  color:#FD74AA;
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
  text-align: center;
 
 
}


/*
.post {
  color:#FD74AA;
  padding: 1%;
  margin-bottom: 1%;
  font-size: 16px;
  margin-bottom: .5%;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
*/








.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}





.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
  font-size: 16px;
  margin-bottom: .5%;
  color:#05586A;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;


  
  
}



.comment .meta {
  font-size: 16px;
  margin-bottom: .5%;
  color:#05586A;
  
  

}










footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}




/*----------testing   */